body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header-container {
    display:flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.controls-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.controls-container button {
    padding: 10px 30px;
}

.sketch-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 3px solid black;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

